:root {
  --fondo: #fef7fb;

  --blanco: #ffffff;        /* NO disponible (locked) */
  --rosa-pastel: #f6dce9;   /* disponible NO cursada */
  --rosa-medio: #ea9ec4;    /* cursada */

  --borde: #d4a5be;
  --texto: #4a4a4a;
}

body {
  background: var(--fondo);
  color: var(--texto);
  font-family: "Poppins", sans-serif;
  padding: 16px;
}

/* LAYOUT */

#layout {
  display: flex;
  gap: 15px;
}

#catalog {
  width: 30%;
  background: var(--rosa-pastel);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--borde);
}

#catalog h2 {
  text-align: center;
}

#catalogFilter {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--borde);
  margin-bottom: 10px;
}

/* SEMESTRES */

#app {
  width: 70%;
}

.semester {
  background: var(--rosa-pastel);
  border: 1px solid var(--borde);
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 12px;
}

.semester h2 {
  margin-top: 0;
  text-align: center;
}


/* CURSOS */

.course {
  border-radius: 8px;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid var(--borde);
  cursor: grab;
  transition: 0.15s;
}

/* ✅ Cursada */
.course.completed {
  background: var(--rosa-medio);
  color: white;
}

/* 💭 Disponible no cursada */
.course.available {
  background: var(--rosa-pastel);
  color: var(--texto);
}

/* 🔒 No disponible */
.course.locked {
  background: var(--blanco);
  color: #bbb;
  border: 1px dashed var(--borde);
}

/* Hover */
.course:hover {
  transform: scale(1.03);
}

/* Drag hover visual */
.dragover {
  border: 2px dashed var(--rosa-medio);
}
